<h2>
  Username: <%= @user.username %>
</h2>

<p class="mt-3">
  Has made <%= @user.ratings.count %> ratings, average rating <%= round @user.average_rating %>
</p>

<p>
  <strong>Favourite style:</strong> <%= @user.favorite_style %>
</p>

<p>
  <strong>Favourite brewery:</strong> <%= @user.favorite_brewery %>
</p>

<h2>Ratings:</h2>

<ul>
  <% @user.ratings.each do |rating| %>
    <li><%= "#{rating.to_s}" %>
      <% if @user == current_user %>
        <%= link_to "Delete", rating, data: {turbo_method: :delete} %>
      <% end %>
    </li>
  <% end %>
</ul>

<h2>Memberships:</h2>

<ul>
  <% @user.memberships.each do |membership| %>
    <li>
      <%= link_to "#{membership.beer_club.name}, #{membership.beer_club.city}", membership.beer_club %>
    </li>
  <% end %>
</ul>

<div>
  <%= link_to "Back to users", users_path %>
  <% if current_user && current_user.admin? %>
    | <%= link_to @user.disabled? ? "Enable account" : "Close account",
                  toggle_disabled_user_path(@user),
                  class: @user.disabled? ? "btn btn-sm btn-success" : "btn btn-sm btn-danger",
                  data: {turbo_method: "post"} %>
  <% end %>
  <% if current_user == @user %>
    | <%= link_to "Edit this user", edit_user_path(@user) %> |
      <%= link_to "Destroy this user", @user, data: {turbo_method: :delete} %>
  <% end %>
</div>
