 <h2>
  <%= @brewery.name %>
  <% if not @brewery.active  %>
    <span class="badge badge-sm bg-secondary">retired</span>
  <% end %>
</h2>

<p>
  <i>
    Established in <%= @brewery.year %>
  </i>
</p>

<p>
  <b>Beers count:</b>
  <%= @brewery.beers.count %>
</p>

<p>
 <% @brewery.beers.each do |beer| %>
   <%= link_to beer.name, beer %>
 <% end %>
</p>

<% if @brewery.ratings.empty? %>
  <p>
    brewery has no ratings yet!
  </p>
<% else %>
  <p>
    Brewery has <%= pluralize(@brewery.ratings.count, 'rating') %> with an average of <%= round @brewery.average_rating %>.
  </p>
<% end %>

<div class="my-3">
  <%= link_to "Toggle activity",
              toggle_activity_brewery_path(@brewery.id),
              data: { turbo_method: "post" },
              class: "btn btn-info btn-sm" %>
</div>


<hr class="mt-4" />

<div class="d-flex align-items-center gap-3">
  <%= link_to "Back to breweries", breweries_path %>
  <%= edit_and_destroy_buttons(@brewery) %>
</div>
