<div id="<%= dom_id @beer %>">
  <p>
    <strong>Name:</strong>
    <%= link_to @beer.name, @beer %>
  </p>

  <p>
    <strong>Style:</strong>
    <%= link_to @beer.beer_style.name, @beer.beer_style %>
  </p>

  <p>
    <strong>Brewery:</strong>
    <%= link_to @beer.brewery.name, @beer.brewery %>
  </p>

<% if @beer.ratings.empty? %>
  <p>
    beer has not yet been rated!
  </p>
<% else %>
  <p>
    Beer has <%= pluralize(@beer.ratings.count, 'rating') %> with an average of <%= round @beer.average_rating %>.
  </p>
<% end %>

</div>


<% if current_user %>
  <h4>give a rating:</h4>

  <%= form_with(model: @rating) do |form| %>
    <%= form.hidden_field :beer_id %>
    score: <%= form.number_field :score %>
    <%= form.submit "Create rating", class:"btn btn-primary btn-sm" %>
  <% end %>
  
  <hr class="mt-4" />

  <div class="d-flex align-items-center gap-3">
    <%= link_to "Back to beers", beers_path %>
    <%= edit_and_destroy_buttons(@beer) %>
  </div>
<% end %>
